
StardewValley/cocos2d/cocos/2d/Debug.win32/libcocos2d.pch
StardewValley/proj.win32/.vs/StardewValley/v17/ipch/AutoPCH/61c43512ca9c026a/MAIN.ipch
StardewValley/proj.win32/.vs/StardewValley/v17/ipch/AutoPCH/cca8ed80a2b43d6d/HELLOWORLDSCENE.ipch
StardewValley/proj.win32/.vs/StardewValley/v17/ipch/AutoPCH/e8381783f330d055/APPDELEGATE.ipch
