
*.vsidx
*.vsidx
*.db
*.db-wal
*.opendb
*.vsidx
*.db
*.ipch
StardewValley/proj.win32/.vs/StardewValley/FileContentIndex/f64b4074-78ef-44f5-8007-1fa078fce56d.vsidx
StardewValley/proj.win32/.vs/StardewValley/v17/.suo
StardewValley/proj.win32/.vs/StardewValley/v17/Browse.VC.db
StardewValley/proj.win32/.vs/StardewValley/v17/Browse.VC.db-shm
StardewValley/proj.win32/.vs/StardewValley/v17/ipch/AutoPCH/77cd595f2f76a32f/HELLOWORLDSCENE.ipch
StardewValley/proj.win32/.vs/StardewValley/v17/ipch/AutoPCH/d6bd9376fd91a84c/MAIN.ipch
StardewValley/proj.win32/.vs/StardewValley/v17/ipch/AutoPCH/f82ee017345d6cf7/APPDELEGATE.ipch
StardewValley/proj.win32/.vs/StardewValley/v17/Solution.VC.db-shm
*.vsidx
*.db
StardewValley/proj.win32/.vs/StardewValley/FileContentIndex/f64b4074-78ef-44f5-8007-1fa078fce56d.vsidx
StardewValley/proj.win32/.vs/StardewValley/v17/.suo
StardewValley/proj.win32/.vs/StardewValley/v17/Browse.VC.db
*.vsidx
*.db
StardewValley/proj.win32/.vs/StardewValley/FileContentIndex/f64b4074-78ef-44f5-8007-1fa078fce56d.vsidx
StardewValley/proj.win32/.vs/StardewValley/v17/.suo
StardewValley/proj.win32/.vs/StardewValley/v17/Browse.VC.db
StardewValley/proj.win32/.vs/StardewValley/FileContentIndex/f64b4074-78ef-44f5-8007-1fa078fce56d.vsidx
StardewValley/proj.win32/.vs/StardewValley/v17/.suo
StardewValley/proj.win32/.vs/StardewValley/v17/Browse.VC.db
StardewValley/proj.win32/.vs/StardewValley/FileContentIndex/f64b4074-78ef-44f5-8007-1fa078fce56d.vsidx
StardewValley/proj.win32/.vs/StardewValley/v17/.suo
StardewValley/proj.win32/.vs/StardewValley/v17/Browse.VC.db
StardewValley/proj.win32/.vs/StardewValley/v17/.suo
StardewValley/proj.win32/.vs/StardewValley/FileContentIndex/f64b4074-78ef-44f5-8007-1fa078fce56d.vsidx
/StardewValley/proj.win32/.vs/StardewValley
*.db
StardewValley/proj.win32/.vs/StardewValley/FileContentIndex/f64b4074-78ef-44f5-8007-1fa078fce56d.vsidx
*.vsidx
StardewValley/proj.win32/.vs/StardewValley/v17/.suo
StardewValley/proj.win32/.vs/StardewValley/v17/DocumentLayout.json
StardewValley/proj.win32/.vs/StardewValley/v17/Solution.VC.db
*.pch
*.recipe
*.obj
*.lastbuildstate
*.log
*.log
*.obj
*.lastbuildstate
*.tlog
